extends layout

block content

    nav.navbar.navbar-expand-lg.navbar-light.bg-light
        a.navbar-brand(href='/') Express Warehouse
        button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarNav' aria-controls='navbarNav' aria-expanded='false' aria-label='Toggle navigation')
            span.navbar-toggler-icon
        #navbarNav.collapse.navbar-collapse
            ul.navbar-nav
                li.nav-item
                    a.nav-link(href='/') Submit/Modify
                li.nav-item.active
                    a.nav-link(href='/query')
                        | Query
                        span.sr-only (current)
                li.nav-item
                    a.nav-link(href='/delete') Delete
                li.nav-item
                    a.nav-link(href='/graph') Graph


    div(class="jumbotron text-center" id="div")
        h1 Express Warehouse
        p Tera tiers of storage
    div(class = "container")
        button(class='btn btn-primary' id='query_all_btn') Query all products
        br
        button(class='btn btn-primary' id='query_outofstock_btn') Query out of stock products
        br
        button(class='btn btn-primary' id='query_pos_btn') Query position of products
        br
        button(class='btn btn-primary' id='query_full_shelves_btn') Query full shelves
        br
        button(class='btn btn-primary' id='query_sector_categories_btn') Query categories by sectors
        br
        button(class='btn btn-primary' id='query_warehouse_btn') Query normal warehouses
        br
        button(class='btn btn-primary' id='query_cooled_warehouse_btn') Query cooled warehouses
        br
        button(class='btn btn-primary' id='query_secured_warehouse_btn') Query secured warehouses
        br
        div(id="target")
    #page-content
        .container.text-center
            .row.justify-content-center
                .col-md-7
    footer#sticky-footer.py-4.bg-dark.text-white-50
        .container.text-center
            small Copyright &copy; Express Warehouse